#panel-add {
    margin-top: 55px;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

span.twitter-typeahead .tt-menu {
    cursor: pointer;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#sounder-add {
    margin-top: 75px;
    width: 100%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}
#back {
    float: right;
}
