@{
    ViewBag.Title = "Index";
}
<div class="card shadow">
    <div class="card-body">
        <a href="/FDAS/PanelIndex" class="btn btn-primary">Panel Checker</a>
        <a href="/FDAS/SounderIndex" class="btn btn-primary">Sounder Checker</a>
    </div>
</div>

