@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <hr />
    <h1>Preventive Maintenance</h1>
    <p class="lead">Inspect Device:</p>

    <a href="/FDAS/PanelIndex" class="btn btn-primary btn-lg"><i class="fa fa-dashboard"></i> Panel Checker</a>
    <a href="/FDAS/SounderIndex" class="btn btn-primary btn-lg"><i class="fa fa-volume-up"></i> Sounder Checker</a>
</div>

